@import "reset.css";

body{
    margin:0;
    background-color: #c0c0c0;
    color: black;
    font-family: Verdana, sans-serif;
}
header{
    display: block;
    padding: 20px 0px;
    background-color: #228b22;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}
/*========================= NAV BAR =========================*/
nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
nav ul {
    display: block;
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    margin: 0;
    padding: 0;
}
nav li {
    float: left;
    border-right: 1px solid #006400;
}
nav li a {
    display: block;
    color: #dc143c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;

}
nav li a:hover:not(.active) {
    background-color: #111;
}
nav li button {
    background-color: #333;
    border-left: 1px solid #006400;
    display: block;
    color: #dc143c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    width: 100%;
}
#loginbtn{
  float:right;
}
#regbtn{
  float:right;
}
#logoutbtn{
  float:right;
  display:none;
}
nav .active {
    background-color: #00FF00;
}
/*========================= clearing floats =========================*/
br.clr { clear:both; display:block; height:1px; margin:-1px 0 0 0 }

/*========================= GENERIC TEXT ========================= */

h1,h2,h3,h4,h5 {
    text-align:  center;
    font-weight: bold;
}
div {
    display:block;
    padding: 0;
    margin: 0;
    text-align: left;
}
ul{
  font-size: 18px;
  overflow: hidden;
}
p{
  font-size: 18px;
  margin: 5px 20% 0;
}
/*========================= MARGIN =========================*/
div.marg{
   margin: 0 20%;
}

/*========================= COLUMNS =========================*/
div.row {
  margin: 0 20%;
  display: block;
}
div.column {
  float: left;
  width: 30%;
  margin: 0 1%;
}
/*========================= CALENDAR =========================*/
.month {
    display: block;</php>
    padding: 25px 15px;
    width: 100%;
    background: #228b22;
    text-align: center;
    margin-bottom: 5px;
}
.month ul {
    margin: 0;
    padding: 0;
}
.month ul li {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.week {
    display: block;
    width: 100%;
}
.days {
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    display:block;
}
.days img {
  max-width: 100px;
  max-height: 70px;
  width: auto;
  height: auto;
}
.days li {
    float: left;
    list-style-type: none;
    min-width: 100px;
    max-width: 163px;
    min-height: 100px;
    max-height: 163px;
    width: 13.6%;
    height: 13.6%;
    text-align: center;
    margin-top: 5px;
    font-size:12px;
    color: #dc143c;
    border-right: 1px solid #006400;
    border-bottom: 1px;

}
.days li:last-child{
  border-right: none;
}
.days li.active {
    background-color: #00FF00;
}
/*========================= COMMENTS =========================*/
div.comments{}
div.ucomment{
  margin-bottom: 25px;
}
small.name{
  float: left;</php>

}
small.date{
  float: right;

}
div.ucomment p {
  margin:0;
}
#comm{

}
#smallbtn{
  display: block;
  padding: 4px;
}
.delete{
 display:block;
 float:right;
 padding: 0px;
 margin:0px;
}

/*========================= Login =========================*/
/* input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/*button {
    background-color: #333;
    border-left: 1px solid #006400;
    display: block;
    color: #dc143c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    width: 100%;
}
  /* Set a style for all buttons */
button {
    background-color: #228b22;
    color: #dc143c;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
}


/*  (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
form {max-width: 300px;}
/*========================= screen dependency =========================*/
@media screen and (max-width:800px){
  div.column {
    float:none;
    width: 100%;
  }
}
@media screen and (max-width: 480px){
  header{padding: 10px 0px}
  nav li{
    float: none;
  }
  nav li a{
    padding: 7px 8px;

  }
  #loginbtn{
    float:none;
  }
  #regbtn{
    float:none;
  }
  #logoutbtn{
    float:none;
  }
  nav li button{
    padding: 7px 8px;
  }
  div.marg{
    margin: 0;
  }
  div.column {
    float: none;
    width: 100%;
  }
  div.row{
    margin: 0;
  }
  p{
    margin:0;
  }
  .week {
    margin: 0;
  }

  .month{</php>
    padding: 12px 7px;
  }
}
@media screen and (max-height: 480px){
  header{padding: 10px 0px}
  nav li a{
    padding: 7px 8px;

  }
  nav li button{
    padding: 7px 8px;
  }
  div.column {
    float: none;
    width: 100%;
  }
  div.row{
    margin: 0;
  }
  div.marg{
    margin: 0;
  }
  p{
    margin:0;
  }


  .week {
    margin: 0;
  }p{
    margin:0;
  }

  .month{
    padding: 12px 7px;
  }
}
