<!DOCTYPE html>
<html>
    <head>
      <title>Tasty recipies</title>
      <link rel="stylesheet" href="/css/stylesheet.css">
   </head>
   <body>
     <header>
       <h1> Tasty Recipies</h1>
     </header>
     <nav>
        <ul>
          <li><a href="/index.html">Home</a></li>
          <li><a href="/View/Recipies/recipies.html">Recipies</a></li>
          <li><a href="/View/calendar.html">Calendar</a></li>
          <!--<li style="float:right"><a href="#about">About</a></li>-->
        </ul>
    </nav>
    <br class="clear" />
      <h1>"Hello, world!"</h1>
      <img src="/Images/meatballs.jpg">
      </img>
      <h2>Meatballs!</h2>
      <h3>Ingredients</h3>
      <ul>
        <li>meatballs 500 g</li>
        <li>SQUISHED TATERS! 1KG</li>
        <li>BROWNSAUCE 1L</li>
        <li>lingon berries 500 g</li>
        <li>tiny swedish fleg</li>
      </ul>
      <h3>Directives</h3>
      <ol>
          <li>BOIL DEM TATERS</li>
          <li>SQUISH EM MASH EM PUT EM IN A STEW</li>
          <li>FRY DEM BALLS</li>
          <li>SAVOR BALLS</li>
          <li>put on plate <i>gently...</i></li>
          <li>POUR THAT SAUCE <i> not on taters precious</i></li></li>
          <li>POUR DEM LINGENBERRIES</li>
          <li>PUT FLEG ON TATERS PRECIOUS</li>
      </ol>
   </body>
</html>
