<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Tasty recipies</title>
      <link rel="stylesheet" href="/css/stylesheet.css">
   </head>
   <body>
    <header>
      <h1> Tasty Recipies</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/View/Recipies/recipies.html">Recipies</a></li>
        <li><a href="/View/calendar.html">Calendar</a></li>
        <!--<li style="float:right"><a href="#about">About</a></li>-->
      </ul>
    </nav>
    <div>
      <h1>"Hello, world!"</h1>
      <img src="/Images/pancakes.jpg">
      </img>
      <h2>Pancakes!</h2>
      <h3>Ingredients</h3>
      <ul>
        <li>Premade pancakes 1 kg</li>
        <li>Raspberry jam 5 dl</li>
        <li>Whipped cream 1 can</li>
        <li>raspberrys 500 g</li>
        <li>gargantuan nanner 1</li>
      </ul>
      <h3>Directives</h3>
      <ol>
        <li>PUT THEM PANCAKERS ON A PLATE</li>
        <li>MICROWAVE DEM CAKERS</li>
        <li>POUR THAT JEM <i> on cakers.. gently precious</i></li></li>
        <li>SPLOOSH THAT CREAM</li>
        <li>SLICE DAT BERNERNER PRECIOUS</li>
        <li>PUT DEM NANNERS ON DEM CAKERS</li>
      </ol>
    </div>
  </body>
</html>
