<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Tasty recipies</title>
      <link rel="stylesheet" href="/css/stylesheet.css">
   </head>
   <body>
     <header>
       <h1>Tasty Recipies</h1>
     </header>
     <nav>
        <ul>
          <li><a href="/index.html">Home</a></li>
          <li><a class="active" href="#">Recipies</a></li>
          <li><a href="/View/calendar.html">Calendar</a></li>
          <!--<li style="float:right"><a href="#about">About</a></li>-->
        </ul>
      </nav>
      <br class="clear" />
      <div>
        <h1>"Hello, world!"</h1>
        <ul>
          <li><a href="meatballs.html">Meatballs!</a> </li>
          <li><a href="pancakes.html">pancakes</a> </li>
        </ul>
      </div>
   </body>
</html>
