<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Recipies</title>
      <link rel="stylesheet" href="/css/stylesheet.css">
      <meta charset="UTF-8">
   </head>
   <body>
     <header>
       <h1>Tasty Recipies</h1>
     </header>
     <nav>
        <ul>
          <li><a href="/index.html">Home</a></li>
          <li><a class="active" href="#">Recipies</a></li>
          <li><a href="/View/calendar.html">Calendar</a></li>
          <!--<li style="float:right"><a href="#about">About</a></li>-->
        </ul>
      </nav>
      <br class="clear" />
      <div style="margin: 0 30%">
        <div>
          <h2>These are the current recipies!</h2>
          <ul>
            <li><a href="meatballs.html">Meatballs!</a> </li>
            <li><a href="pancakes.html">Pancakes!</a> </li>
          </ul>
        </div>
      </div>
   </body>
</html>
