<!DOCTYPE html>
<html>
<head>
    <title>Minimum Setup</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/calendar.css">
</head>
<nav id="navbar">
   <ul>
     <li><a class="active" href="/index.html">Home</a></li>
     <li><a href="/View/Recipies/recipies.html">Recipies</a></li>
     <li><a href="/View/calendar.html">Calendar</a></li>
     <!--<li style="float:right"><a href="#about">About</a></li>-->
   </ul>
</nav>
<body>

    <div id="calendar"></div>

    <script type="text/javascript" src="js/vendor/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="js/vendor/underscore-min.js"></script>
    <script type="text/javascript" src="js/calendar.js"></script>
    <script type="text/javascript">
        var calendar = $("#calendar").calendar(
            {
                tmpl_path: "/tmpls/",
                events_source: function () { return []; }
            });
    </script>
</body>
</html>
